@import './Fonts.scss';
@import './General.scss';

.character_contents {
  display: flex;
  justify-content: center;
  width: calc(100vw - 1.1em);
  margin: 10em auto;
  background-color: $color-first;

  @media (max-width: 768px) {
    margin-top: 1em;
  }
}

.character_tags {
  display: flex;
  font-size: .8em;
  flex-wrap: wrap;

  span {
    margin-right: .5em;
    margin-top: .5em;
    background-color: $color-third;
    padding: 0 .5em;
    border-radius: 3px;
  }
}

.character_body {
  color: $color-text;
  font-family: "JetBrains Mono", monospace;
  width: 700px;
  padding-bottom: 5em;
  
  @media (max-width: 768px) {
    width: calc(100vw - 3em);
  }
}

.character_separator {
  width: 100%;
  max-width: 700px;
  height: 3px;
  background-color: $color-second;
}

.character_text {
  font-size: 14px;
}

.character_title {
  font-size: 2em;
  margin: .3em 0;
}

.character_imgs {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.ai_warning {
  background-color: $color-third;
  font-size: 12px;
  padding: .2em .5em;
  border-radius: 3px;
}

.character_img {
  height: 10em;
  width: 10em;
  margin-top: .5em;
  object-fit: contain;
  border: .2em solid $color-third;
}

.character_notfound {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  color: $color-text;
  font-family: "JetBrains Mono", monospace;
  font-size: 2em;
  font-weight: 1000;
  text-align: center;
  
  .character_notfound-link {
    text-decoration: none;
    color: $color-text;
    background-color: $color-accent;
    padding: .2em .7em;
    border-radius: 10px;
    margin-top: 1em;
    transition: .1s ease-in-out;
    
    &:hover {
      color: $color-second;
      background-color: $color-text;
    }
  }
}

.character_timeline-contents {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.character_timeline-item {
  display: flex;
  flex-direction: column;
  background-color: $color-third;
  margin: .5em;
  padding: 1em;
  border-radius: 5px;
  text-decoration: none;
  color: $color-text;
  transition: .1s ease-in-out;
  width: 13em;
  max-width: 13em;

  &:hover {
    background-color: $color-second;
  }
}

.character_timeline-title{
  font-size: 16px;
  font-weight: 800;
  margin-top: 1.5em;
}

.character_timeline-year {
  position: absolute;
  font-size: 12px;
  padding: .1em .5em;
  background-color: $color-accent;
  border-radius: 3px;
}