$color-text: #BEBFC0;
$color-first: #24262A;
$color-second: #3D3F41;
$color-third: #323436;
$color-accent: #344952;


body {
    padding: 0;
    margin: 0;
    height: 100vh;
    background-color: $color-first;
}